.hero-image-background{
   background:url('https://cdn.pixabay.com/photo/2018/01/14/23/05/ecommerce-3082813_1280.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
  height: 500px;
} 
 